.container {
  max-width: 200rem;
  margin: 10rem 30rem;
  background-color: $color-grey-dark-4;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-flow: column;

  min-height: 80rem;
}
