.popup {
  height: 100vh;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: 1;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;

  @supports (-webkit-backdrop-filter: blur(1rem)) or
    (backdrop-filter: blur(1rem)) {
    background-color: rgba($color-black, 0.3);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }

  &__content {
    width: 70rem;
    background-color: $color-white;
    min-height: 25rem;
    height: auto;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    font-family: Lato, sans-serif;

    @include respond(phone) {
      width: 50rem;
      min-height: 45rem;
      height: auto;
    }

    &--title {
      text-align: center;
      font-family: Oswald, sans-serif;
      font-size: 4rem;
      padding: 1rem 2rem;
    }

    &--overview {
      padding: 0 3rem;
      font-size: 1.5rem;
      color: $color-black;
    }

    &--button {
      text-decoration: none;
      color: $color-3;
      align-self: center;
      background-color: $color-white;
      border: 1px solid $color-3;
      border-radius: 5px;
      width: 10rem;
      margin: 1rem 0rem;
      font-size: 1.5rem;
      padding: 0.25rem 0.2rem;

      &:focus {
        text-decoration: none;
        outline: none;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba($color-4, 0.1);
      }
    }
  }
}
