.grid {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  min-height: 100%;

  &__container {
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-rows: repeat(5, 35rem);
    grid-template-columns: repeat(4, 30rem);
  }
}
