.movieItem {
  height: 30rem;
  width: 20rem;
  margin: 1rem;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-out;
  backface-visibility: hidden;

  &__titleYear {
    justify-self: flex-end;
    text-align: center;
    color: $color-white;
    background-color: rgba($color-grey-dark-5, 0.7);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    backface-visibility: hidden;
  }

  &__image {
    &--none {
      padding-top: 8rem;
      background-color: $color-white;
      height: 30rem;
      text-align: center;
      font-size: 3rem;
      color: black;
    }

    @include respond(small-desktop) {
      object-fit: scale-down;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}
