.search {
  display: flex;
  align-items: center;

  &__input{
    color: inherit;
    background-color: gray;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
        outline: none;
        width: 100%;
        background-color: white;
      }
  }
}
