/////////////////////////////////
// Breakpoints

// Media Query Manager
// 0-600px phone
// 600-900px tablet(portrait)
//900-1200px tablet(landscacpe)
//1800px+ big desktop

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    } //600px / 16px(default font-size) = 37.5em
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } //900px
  }
  // @if $breakpoint == tab-land-small {
  //   @media (max-width: 66em) {
  //     @content;
  //   } //1056px
  // }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == small-desktop {
    @media (max-width: 95em) {
      @content;
    } //1318px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    } //1800px
  }
}

//////////////////////////////////
// Colors

// Basic Colors
$color-white: #fff;
$color-black: black;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #1c1c1c;
$color-grey-dark-4: #161616;
$color-grey-dark-5: #111111;

// Color Pallette
$color-1: #f9f7f7;

$color-2: #dbe2ef;
$color-2-dark: #b8c6df;

$color-3: #e31c25;

$color-4: #bb000e;

//////////////////////////////////
// Resets

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(small-desktop) {
    // width < 1318?
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-land) {
    // width < 1200?
    font-size: 50%; //1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 40%; //1rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    // width < 600
    font-size: 30%;
  }
}

body {
  box-sizing: border-box;
  align-content: center;
  line-height: 1.6;
  color: $color-3;
  background-color: $color-grey-dark-3;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}
