//////////////////////////////////
// Colors

// Basic Colors
$color-white: #fff;
$color-black: black;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// Color Pallette
$color-1: #f9f7f7;

$color-2: #dbe2ef;
$color-2-dark: #b8c6df;

$color-3: #3f72af;

$color-4: #112d4e;

//////////////////////////////////
// Resets

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  align-content: center;
  line-height: 1.6;
  color: black;
  background-color: $color-grey-dark-1;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 100vh;
}

